.add-expense-card input {
    padding: 3px;
    margin: 2px;
    border: 1.5px solid green;
    border-radius: 4px;
}

.add-expense-card h3 {
    text-align: center;
    font-family: Arial;
}

#submit-button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#submit-button:hover {
    background-color: #4CAF50;
    color: white
}
